form.form-sign {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 150px;
	margin-right: 150px;
}
#border-external {
	background-color: #fff;
	margin-left: 200px;
	margin-right: 200px;
}
#body {
	background-color: #ebebe0;
}

input.form-control {
	padding: 20px;
	margin: 15px;
	background: #ebebe0;
}
textarea.form-control {
	padding: 20px;
	margin: 15px;
	background: #ebebe0;
}
button.btn {
	margin: 15px;
}
h3 {
	margin: 15px;
}